<div
  *ngFor="let toast of toasts"
  class="toast show"
  [ngClass]="toast.type"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-bs-autohide="true"
  [attr.data-bs-delay]="5000"
  (hidden.bs.toast)="removeToast(toast)"
>
  <div class="toast-header">
    <strong class="me-auto">{{ toast.title || 'Notification' }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
  <div class="toast-body">{{ toast.message }}</div>
</div>
